html, body {
    width: auto !important;
    overflow-x: hidden !important;
}

body {
    background-size: cover;
    background: #464646 url(../img/image04.jpg) no-repeat fixed center center;
}

@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/image04-mobile.jpg);
    }
}

.welcome, .game {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    letter-spacing: 10px;
    height: 500px;
}

.welcome h1 {
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 30px;
}

.welcome .explanation {
    padding: 50px;
    height: 150px;
}

.welcome .play {
    padding-top: 30px;
    margin: auto;
    font-size: 50px;
    height: 150px;
    cursor: pointer;
}

.welcome .footer {
    padding: 50px;
    height: 500px;
}

.game .scoreboard {
    font-size: 5em;
}

a {
    padding: 30px;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    cursor: pointer;
}