<div ng-controller="gameCtrl">
    <div class="container-fluid game">
        <div class="row">
            <div class="col-md-12"><h1>{{game}}</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4"><h1>Level: {{state.getLevel()}}</h1></div>
            <div class="col-md-4"><h1>Number of Enemies: {{state.getNumberOfEnemies()}}</h1></div>
            <div class="col-md-4"><h1>Time: {{state.getMaxTime()}}</h1></div>
        </div>
        <div class="row">
            <div class="col-md-4"><h1>-</h1></div>
            <div class="col-md-4"><a ng-click="win()">win</a></div>
            <div class="col-md-4"><a ng-click="home()">home</a></div>
        </div>
    </div>
</div>