<div ng-controller="winCtrl">
    <div class="container-fluid game">
        <div class="row">
            <div class="col-md-12"><h1>You are the winner</h1></div>
        </div>
        <div class="row">
            <div class="col-md-12"><h1>The next level is: {{state.getLevel()}}</h1></div>
        </div>
        <div class="row scoreboard">
            <div class="col-md-4"><i class="fa fa-clock-o"></i>Time</div>
            <div class="col-md-4"><i class="fa fa-star"></i>Score</div>
            <div class="col-md-4"><i class="fa fa-level-up"></i>Level</div>
        </div>
        <div class="row">
            <div class="col-md-12"><a ng-click="back()">back</a></div>
        </div>
    </div>
</div>